@import "foundation_and_overrides";

body{
  margin-top: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}


h2{
  font-weight: 100;
}

h4, .subheader{
  font-weight: 300;
}

.action-button{
  width: 95px
}

.top-link{
  margin: 10px
}
